body {
    background-image: url("fondo.jpg"); 
    background-color: #cccccc;
    height: 130%;
    width: 4000px;

}

.footer{
		width: 100%;
		background-color: black;
		text-align: center;
		clear: both;
		position: relative;
		z-index: 10;
		height: 3em;
		margin-top: 70em;
	}

.container{
	margin-left: 6vw;
	margin-top: 6vw;
}

.circle{
	height: 10vw;
	width: 20vw;
	margin-top: 3vw;
	margin-left: 3vw;
	background-color: black;
	margin: left;
}

img{

	width: 200px;
	height: 200px;
}
.personaje {
	position: absolute;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	 /** background-color: blue; **/
	z-index: 1000000;
}
.mi-personaje{
	position:fixed;
    top:20vw;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	 /** background-color: blue; **/
	z-index: 500;
	

}

.personaje2 {
	position: absolute;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	 /** background-color: blue; **/
	z-index: -100000;
}